*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth;
}


/* intro */

.intro{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(./stuff/introimg.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    z-index: 1; */
}

.overly{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.intro img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.intro h1{
    color: white;
    text-transform: uppercase;
    font-size: clamp(2em,4vw,2.5em);
    z-index: 4;
}
.intro h6{
    color: white;
    font-weight: 100;
    font-size: clamp(1em,4vw,1.2em);
    text-decoration: underline white 1.8px;
    text-underline-offset: 10px;
    margin-bottom: 10px;
    z-index: 4;
}
.intro p{
    color: white;
    font-size: 0.8em;
    text-align: center;
    z-index: 4;
}

.intro-arrow{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    /* background-color:yellowgreen; */
    z-index: 4;
}

.intro-arrow a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    position: relative;
    animation: upDown;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: rotate(90deg);
}

@keyframes upDown{
    0%{
        top: -20px;
        opacity: 1;
    }
    100%{
        top: 20px;
        opacity: 0;
    }
}
/* 
@keyframes moveArrow {
    0% { 
        transform: translateX(0); 
        opacity: 1;
    }
    100% { 
        transform: translateX(100px); 
        opacity: 0;
    }
}

.intro-arrow a {
    animation: moveArrow 2s linear infinite;
}

.intro-arrow a:hover {
    animation-play-state: paused;  Stops animation at current frame
} */

/* intro */


/* nav */

.nav{
    position: relative;
    padding-right: min(2em,5%);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #196FC2;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-align{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #004B91;
    padding-right: 1.5em;
    cursor: pointer;
    position: relative;
}

.name a{
    text-decoration: none;
    font-size: clamp(1.5em,4vw,2em);
    font-weight: 600;
    color: white;
    position: relative;
    left: -16em;
    opacity: 0;
    transition: all 0.5s;
}

.name a.show{
    left: 0em;
    opacity: 1;
}

.nav ul{
    padding-right: min(2em,5%);
    width: 80%;
    height: 100%;
    background-color: #196FC2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 28px;
}

.nav ul li{
    list-style: none;
    position: relative;
}
.nav ul li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

ul li::after{
    content: '';
    width: 100%;
    height: 2.5px;
    background-color: white;
    position: absolute;
    bottom: -19px;
    left: 0;
    transition: all 0.5s;
    opacity: 0;
}

ul li:hover::after{
    opacity: 1;
}
ul li.active::after{
    opacity: 1;
}




.menu{
    display: none;
    justify-content: end;
    align-items: center;
}
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.menu-btn div{
    background-color: white;
    width: 25px;
    height: 2px;
}


@media screen and (max-width: 980px){
    .nav{
        width: 100%;
        padding-left: 0px;
    }
    .nav-align{
        width: 100%;
        justify-content: space-between;
    }
    .nav ul{
        position: absolute;
        width: 100%;
        height: 0em;
        background-color: #196FC2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 28px;
        top: 3.3em;
        visibility: hidden;
        transition: height 0.5s, color 0.5s;
        z-index: -1;
    }
    
    .nav ul.appear {
        visibility: visible;
        height: 24em;
    }

    .nav ul li a{
        color: transparent;
        transition: color 0.5s, height 0.5s;
    }

    .nav ul li a.show{
        color: white;
    }


    .nav1, .nav2, .nav3{
        transition: all 0.5s;
    }
    

    
    .nav1js{
        transition: all 0.5s;
        transform: translateY(10px) ;
    }
    .nav2js{
        transition: all 0.5s;
        opacity: 0%;
    }
    .nav3js{
        transition: all 0.5s;
        transform: translateY(-9px) ;
    }

    .name{
        width: 150px;
        padding-right: 0px;
        justify-content: center;
    }

    .menu{
        width: 50%;
        display: flex;
        cursor: pointer;
    }
    
}






/* nav */




/* home page */

.home{
    width: 100%;
    height: 45em;
    padding: min(2em,5%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hw{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.hw p:nth-child(1){
    font-size: clamp(1.6em,5vw,2em);
    color: white;
    text-align: center;
    color: #196FC2;
    text-transform: uppercase;
}
.hw p:nth-child(2){
    font-size: 0.9em;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    color: #767676;
    text-transform: uppercase;
}

.hw-info{
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hw-infoC{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.info-warp1{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 20px;
    padding: min(2em,5%);
}
.info-warp1 p:nth-child(1){
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    text-align: end;
}
.info-warp1 p:nth-child(2){
    font-size: 0.8em;
    color: rgb(124, 124, 124);
    text-align: end;
}




.info-warp2{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 20px;
    padding: min(2em,5%);
}
.info-warp2 p:nth-child(1){
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    text-align: end;
}
.info-warp2 p:nth-child(2){
    font-size: 0.8em;
    color: rgb(124, 124, 124);
    text-align: end;
}





.r-squ{
    width: 250px;
    height: 250px;
    background-color: #196FC2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-squani{
    animation: rotate-L;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.inr-sqr{
    width: 80px;
    height: 80px;
    background-color:#196FC2;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inr-sqrani{
    animation: rotate-R;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.inr-sqr p{
    font-size: 1.4em;
    color: #ffffff;
    transform: rotate(-45deg);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
}
.inr-sqraniT{
    animation: fadetext;
    animation-delay: 1.5s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes rotate-L {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }

}

@keyframes rotate-L-sdw {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes rotate-R {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

@keyframes fadetext {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}














.info-warp3{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: min(2em,5%);
}
.info-warp3 p:nth-child(1){
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    text-align: start;
}
.info-warp3 p:nth-child(2){
    font-size: 0.8em;
    color: rgb(124, 124, 124);
    text-align: start;
}




.info-warp4{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: min(2em,5%);
}
.info-warp4 p:nth-child(1){
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    text-align: start;
}
.info-warp4 p:nth-child(2){
    font-size: 0.8em;
    color: rgb(124, 124, 124);
    text-align: start;
}




@media screen and (max-width:1024px) {
    .hw-info {
        width: 100%;
    }
    .r-squ{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:768px) {

    .home {
        height: 55em;
        gap: 40px;
    }

    .hw{
        height: 14%;
    }
    .hw-info {
        height: 100vh;
        flex-direction: column;
    }
    .info-warp1 {
        align-items: center;
    }
    .info-warp1 p:nth-child(2){
        text-align: center;
    }
    .info-warp2 {
        align-items: center;
    }
    .info-warp2 p:nth-child(2){
        text-align: center;
    }
    .r-squ{
        width: 150px;
        height: 150px;
    }
    .info-warp3 {
        align-items: center;
    }
    .info-warp3 p:nth-child(2){
        text-align: center;
    }
    .info-warp4 {
        align-items: center;
    }
    .info-warp4 p:nth-child(2){
        text-align: center;
    }
}




/* home page */



/* first body image */

.first-bdyimg{
    width: 100%;
    height: 24em;
    background-image: url(./stuff/workgrup.jpg),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.first-bdyimg p{
    width: 70%;
    font-size: clamp(1.2em,5vw,2.2em);
    font-weight: 100;
    color: white;
    text-align: center;
    transition: all 1s;
}

.first-bdyimg button{
    width: 150px;
    height: 40px;
    background-color: #196FC2;
    color: white;
    border: 1px solid transparent;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.5s;
}

.first-bdyimg button:hover{
    background-color: transparent;
    border: 1px solid white;
}

.first-bdyimg p span.addtxtcolr{
    color: #196FC2;
    transition: 1s;
}


@media screen and (max-width: 768px){
    .first-bdyimg p {
        width: 89%;
    }
}
/* first body image */



/*services */

.services{
    width: 100%;
    height: 50em;
    background-color: #F6F6F6;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}


.options{
    width: 70em;   
    height: 10em;
    display: grid;
    background-color: #ffffff;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;    
    align-items: center;
    padding: min(0.1em,5%);
    border-radius: 10px;
    border-bottom: 2.5px solid #196FC2;
}

.box1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius:0 0 10px 10px;
}
.box1 img{
    width: 25px;
    height: auto;
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);
    padding: 2px;
}
.box1 p{
    font-size: clamp(0.5em,1.5vw,0.9em);
    text-align: center;
    transition: all 0.2s;
}
.box1:hover img{
    transform: scale(2.8);
}
.box1:hover p{
    display: none;
}

.box1.active img{
    transform: scale(2.8);
}

.box1.active p{
    display: none;
}

.op-contnt-warp{
    width: 70em;
    height: 22em;
    padding: 5px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.all-contents-js{
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0em;
    transition: all 1s;
}

.op-contents{
    width: 70em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 28px;
    padding: min(1.5em,5%);
}

.left-box p:nth-child(1){
    font-size: 1.8em;
    color: rgb(70, 70, 70);
}
.left-box p:nth-child(2){
    font-size: 15px;
    text-align: justify;
    color: #6a6a6a;
}

.right-box{
    width: 50%;
    height: 100%;
    background-color: rgb(94, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 1200px){
    .options {
        width: 56em;   
    }

    .op-contnt-warp{
        width: 56em; 
    }
    .op-contents{
        width: 56em; 
    }
    
}
@media screen and (max-width: 986px){
    .options {
        width: 50em;   
    }
    .op-contnt-warp{
        width: 50em; 
    }
    .op-contents{
        width: 50em; 
    }
}
@media (min-width:768px) and (max-width: 870px){
    .options {
        width: 45em;   
    }
    .op-contnt-warp{
        width: 45em; 
    }
    .op-contents{
        width: 45em; 
    }
    
}
@media screen and (max-width: 767px){
    .options {
        width: min(80%,30em);   
        height: 4em;
    }
    .op-contnt-warp{ 
        width: 22em;   
        height: 100%;
    }

    .op-contents{
        width: 22em;   
        height: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .left-box{
        width: 90%;
        height: 50%;
    }
    .left-box p:nth-child(2) {
        font-size: 14px;
    }
    .right-box{
        width: 90%;
        height: 40%;
    }
    
    .box1.active img{
        transform: scale(1.4);
    }

}















/*services */


.intro2{
    width: 100%;
    height: 40em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
}
.about{
    width: 100%;
    height: 40em;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: start;
}
.team{
    width: 100%;
    height:40em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: start;
}
.history{
    width: 100%;
    height: 40em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: start;
}
.works{
    width: 100%;
    height: 40em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: start;
}
.contact{
    width: 100%;
    height: 40em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: start;
}


 
