*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#cover{
    margin: 0 auto;
    width: 1536px;
    background-color: #E4E0DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error{
    width: 100%;
    height: 100vh;
    background-color: #0E100F;
    color: white;
    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#error>h1{
    font-size: clamp(40px,8vw,140px);
    font-family: monospace;
}
#error>h6{
    font-size: clamp(8px,2vw,18px);
    font-weight: 100;
    text-transform: uppercase;
    word-spacing: 10px;
    font-family: monospace;
}
#error>h2{
    font-weight: 100;
    font-size: clamp(10px,2.9vw,25px);
    font-family: monospace;
}

@media screen and (min-width:1600px){
    #nav{
        display: none;
        visibility: hidden;
    }
    #main{
        display: none;
        visibility: hidden;
    }
    #error{
        display: flex;
        visibility: visible;
    }
}
@media screen and (max-width: 1488px){
    #nav{
        display: none;
        visibility: hidden;
    }
    #main{
        display: none;
        visibility: hidden;
    }
    #error{
        display: flex;
        visibility: visible;
    }
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    position: relative;
    overflow: hidden;
    background-color: #E4E0DD;
    margin: 0em 0em 5em 0em;
}


#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 15px;
    height: 8vh;
    width: 37vw;
    background-color: #fffefb83;
    backdrop-filter: blur(10px);
    padding: 0px 10px;
}

#nav>#img {
    width: 70px;
    height: auto;
    padding: 0px 10px;
}

#nav>button {
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    background-color: #ffcd6d;
    font-size: 14px;
    transition: background-color, 0.5s ;
    cursor: pointer;
}
#nav>button:hover {
    background-color: #ffd587;
}

#center-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
}

#center-nav>a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


/* dropdown */
#dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#dropdown>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 8px;
    position: relative;
}

#dropdown>a p{
    transform: rotate(90deg);
    transition: all 0.2s;
}
#dropdown:hover > a p{
    transform: rotate(270deg);
}


#ressub{
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 240%;
    left: -217%;
    width: 600px;
    height: 240px;
    border-radius: 12px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: white;
    padding: 40px 25px 40px 25px;
    transform: scale(0.8);
}


#leftbar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

#leftbar a{
    text-decoration: none;
    color: black;
    transition: color, 0.2s;
}

#leftbar a:hover{
    color: rgb(77, 77, 77);
}



#rightbar{
    width: 55%;
    height: 100%;
}

#img1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all, 0.4s;
}

#img1:hover{
    transform: scale(1.02);
}

#pic{
    overflow: hidden;
    width: 100px;
    height: 62px;
    border-radius: 10px;
} 

#pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#let{
    width: 80%;
}

#let p:nth-child(1){
    font-size: 12.5px;
    color: #444444;
}
#let p:nth-child(2){
    font-size: 14px;
}

/* dropdown */




canvas{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    z-index: 99;
    transition: background-color, 0.5s ;
    cursor: pointer;
}

#arrow>p{
    margin-left: 5px;
    margin-top: 2px;
    font-size: 22px;
    transform: rotate(90deg);
    transition: margin-bottom, 0.5s ;
}
#arrow:hover p{
    margin-bottom: -4px;
}
#arrow:hover{
    background-color: #f2f2f2;
}


#page>#headline{
    width: 62%;
    font-size: 52px;
    position: absolute;
    z-index: 99;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page>#headline>h1{
    text-align: center;
    font-weight: 500;
    line-height: 90px;
}

#page>h4 {
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 60%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #1f1f1f;
}
/* #page>button {
    font-size: 22px;
    position: absolute;
    text-align: center;
    top: 68%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#page>button {
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    background-color: #fcc55f;
    font-size: 14px;
    transition: background-color, 0.5s ;
    cursor: pointer;
}
#page>button:hover {
    background-color: #ffd587;
} */

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}
#page1>h1{
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    font-weight: 500;
}

#page1>h4 {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    white-space: nowrap;
    color: #1f1f1f;
    z-index: 99;
}

#page2{
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3 {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}


#page4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    text-align: center;
    background-color: #E3DDD8;
}

#page4>h1 {
    font-weight: 100;
    font-size: 3.8vw;
}

#page4>h4 {
    font-weight: 100;
    margin-top: 20px;
    color: #323232;
    font-size: 1.4vw;
}

#svg{
    margin-top: 50px;
    width: 400px;
    height: 140px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#b1{
    width: 50%;
    height: 100%;
}
#b1>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#b2{
    width: 50%;
    height: 100%;
}
#b2>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#banner{
    width: 100%;
    padding: 1em 0em;
    background: #121718;
    border-bottom: 4px solid white ;
}

#banner>h1{
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    margin: 40px 0px;
    color: white;
}

#bmove{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    width: 100%;
    height: 8vh;
    overflow: hidden;
}

#volt>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#volt{
    width: 8em;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}


#page5{
    height: 100vh;
    width: 100vw;
    background-color: #121718;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#z1{
    width: 1200px;
    height: 15vh;
}
#z1>p{
    color: white;
    font-size: 6em;
}

#z2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: auto;
    padding: 5px;
    /* background-color: #ffd587 */
}

#div1{
    width: 18%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-left: 2em;
}

.itms{
    font-size: 14px;
    color: rgb(123, 123, 123);
    cursor: pointer;
    transition: color, 0.4s;
}

.show{
    color: white;
}

#div2{
    width: 41%;
    height: 100%;
    /* background-color: red; */
    position: relative;
}
.svg{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#div2 .svg.watch{
    display: block;
}

#div3{
    width: 41%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



#div3 .content{
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 18px;
    position: absolute;
}

#div3 .content.conshow {
    display: flex;
}

#div3 h1{
    font-size: 60px;
    font-weight: 100;
    color: white;
}
#div3 h4{
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    color: white;
}
#div3 button{
    padding: 0px 15px;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    width: 128px;
    height: 34px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#div button:hover{
    background-color: #bcbcbc;
}

#div3 #cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* background-color: rebeccapurple; */
}

#div3 #cover span {
    font-weight: 600;
    position: absolute;
    transition: all 0.5s ease;
}


#div3 #cover span:nth-child(1){
    top: -16px;
}
#div3 #cover span:nth-child(2){
    top: 2.8px;
}

#div3 button:hover #cover span:nth-child(1){
    top: 2.8px;
}
#div3 button:hover #cover span:nth-child(2){
    top: 22px;
}

#page6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121718;
    color: white;
    height: 55vh;
    border-top: 4px solid;
    border-bottom: 4px solid;
}
#page6>h1{
    font-size: 6vw;
    font-weight: 100;
}









#page7{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121718;
}

#cage7{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#text7{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 35%;
    height: 100%;
    color: white;
}

#text7>h1{
    font-size: 60px;
    font-weight: 100;
}

#text7>p{
    font-size: 18px;
    line-height: 26px;
}

#svg7{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page8{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121718;
}

#cage8{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#text8{
    padding-right: 6em;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 45%;
    height: 100%;
    color: white;
}

#text8>h1{
    font-size: 60px;
    font-weight: 100;
}

#text8>p{
    font-size: 18px;
    line-height: 26px;
}

#svg8{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}




#page9{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121718;
}

#cage9{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#text9{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    color: white;
}

#text9>h1{
    font-size: 60px;
    font-weight: 100;
}

#text9>p{
    font-size: 18px;
    line-height: 26px;
}

#svg9{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}









#page10{
    height: 100vh;
    width: 100vw;
    background-color: #121718;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cage6{
    width: 75%;
    height: 60%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#lside{
    width: 50%;
    height: 100%;
}

#sliceCover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    transform: translateY(8em);
}

#slice{
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 90px;
    border-radius: 10px;
    background-color: #121718;
    color: white;
}

#slice>#pic{
    width: 50px;
    height: 50px;
}
#slice>#pic>img{
    width: 100%;
    height: 100%;
}
#slice>#text{
    width: 70%;
}


#rside{
    padding: 0 9em 0 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1em;
}

#rside>h1{
    font-size: 55px;
    font-weight: 100;
}
#rside>p{
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
}






#page11{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121718;
}

#cage11{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#text11{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    color: white;
}

#text11>h1{
    font-size: 60px;
    font-weight: 100;
}

#text11>p{
    font-size: 18px;
    line-height: 26px;
}

#svg11{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





footer{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page12{
    width: 100%;
    height: 100vh;
    gap: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F3EF;
    position: absolute;
    z-index: 2;
}

#page12 h1{
    font-size: 60px;
    font-weight: 100;
    color: #121718;
}

#section{
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

#dor{
    width: 140px;
    height: 40px;
}

#section a img{
    width: 100%;
    height: 100%;
}



#bar{
    margin-top: 2em;
    width: 75%;
    height: 42%;
    border-radius: 12px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vox{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 4px;
}

#box1 h1{
    font-size: 40px;
    margin-bottom: 10px;
}
#box1 p{
    font-size: 16px;
    color: #B4B6B6;
}
#box2 h1{
    font-size: 40px;
    margin-bottom: 10px;
}
#box2 p{
    font-size: 16px;
    color: #B4B6B6;
}
#box3 h1{
    font-size: 40px;
    margin-bottom: 10px;
}
#box3 p{
    font-size: 16px;
    color: #B4B6B6;
}










#end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
    width: 100%;
    height: 100vh;
    background-color: #2F2F2F;
    position: absolute;
    z-index: 1;
}

#end hr{
    width: 80%;
    height: 1px;
    border: none;
    background: #5c5c5c;
}

#top{
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    gap: 2.2em;
}

#end h1{
    font-size: 80px;
    font-weight: 100;
    color: white;
}



#end button{
    padding: 0px 15px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffcd6d ;
}

#end button:hover{
    background-color: #ffd587;
}
#end button:hover #cover {
    background-color: #ffd587;
}

#end #cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #ffcd6d ;
}

#end #cover span {
    font-weight: 600;
    position: absolute;
    transition: all 0.5s ease;
    font-weight: 100;
}


#end #cover span:nth-child(1){
    top: -16px;
}
#end #cover span:nth-child(2){
    top: 2.8px;
}

#end button:hover #cover span:nth-child(1){
    top: 2.8px;
}
#end button:hover #cover span:nth-child(2){
    top: 22px;
}


#bottom{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#secA{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2.8em;
}


#zelt{
    width: 78px;
}

#zelt img{
    width: 100%;
    height: 100%;
}


#social{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    background-color: #444444;
}

#icon img{
    width: 100%;
    height: 100%;
}







#secB{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    /* background-color: red; */
    gap: 2.8em;
}

#word{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1.2em;
    /* background-color: yellowgreen; */
}

#word>h4{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 17px;
}

#tex{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

#tex a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition: color, 0.5s;
}

#tex a:hover{
    color: #ffcd6d;
}




#secC{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    gap: 5px;
    /* background-color: yellow; */
}

#qr{
    width: 90px;
    height: 90px;
    padding: 10px;
    background-color: #444444;
    border-radius: 10px;
}

#qr img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#secC p{
    font-size: 11px;
    color: #949494;
}